@import '../../config/mixins.scss';
@import '../../config/colors.scss';


#Landing {
 

  #splash{
    background: #c4c4c4;
    height: 758px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


  }

    #splash-img-container {
      height: 400px;
      width: 100%;
      background: white;
      margin-bottom: 20px;
  }

  .splash-logo-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 20px;
    
    #splash-logo {
        width: 279px;
        
    }
    h1{
        padding-top: 10px;
    }
  }



  .splash-button-container {
      width: 100%;
      display: flex;
      padding-bottom: 40px;
    #book-now {
          @include primaryButton();
          background: white;
          margin: 10px;
      }
    #how-it-works{
        @include primaryButton();
        border: 1px solid white;
        margin: 10px;
        background: none;

    }
  }


}
