@import '../../config/mixins.scss';
@import '../../config/colors.scss';
@import '../../config/fonts.scss';
@import '../../config/breakpoints.scss';


.Landing {
    height: 100%;
    scroll-behavior: smooth;
        

    .splash-container{
        background: $primary;
        height: 758px;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media only screen and (min-width: $desktop-lg){
            justify-content: center;
            align-items: center;
        }

        .splash-img-container {
            height: 400px;
            width: 100%;
            background: white;
            margin-bottom: 20px;

            @media only screen and (min-width: $desktop-lg){
                display: none;
            }
        }

        .splash-logo-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding-bottom: 20px;

        
            #splash-logo {
                width: 279px;
                @media only screen and (min-width: $desktop-lg){
                    width: 600px;
                }
            }

            h1{
                padding-top: 10px;
                font-size: 35px;
                color: $appWhite;
            }

            @media only screen and (min-width: $desktop-lg){
                width: 600px;
                margin: 0 auto;
                padding-top: 150px;
            }

        }

        .splash-button-container {
            width: 100%;
            display: flex;
            padding-bottom: 40px;
            .landing-btn-1 {
                @include primaryButton();
                background: $secondary;
                margin: 10px;
                color: $appWhite;

                @media only screen and (min-width: $desktop-lg){
                    margin: 10px 0;
                }
            }
            .landing-btn-2{
                @include primaryButton();
                margin: 10px;
                background: none;
                color: $appWhite;
                width: auto;


            }


            @media only screen and (min-width: $desktop-lg){
                width: 600px;
                margin: 0 auto;
            }
        }

    }


  .info-container{
    height: 758px;
    width: 100%;
    text-align: left;
    padding: 20px;
    position: relative;

    @media only screen and (min-width: $desktop-lg){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        ol {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            width: 100%;
            color: $appBlack;
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                margin: 20px 50px;
            }
        }
    }

    h1{
        font-size:42px;
        margin: 20px 0 ;

        @media only screen and (min-width: $desktop-lg){
            font-size: 67px;
            margin-bottom: 80px;
        }
    }

    h2{
        font-size: 26px;
        
        @media only screen and (min-width: $desktop-lg){
            font-size: 40px;
        }
    }

    li{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
        color: $appBlack;

        @media only screen and (min-width: $desktop-lg){
            width: 327px;
        }

        p{
            text-align: left;
            
            @media only screen and (min-width: $desktop-lg){
            width: 327px;
            font-size: 27px;
            text-align: justify;
            text-justify: inter-word;
        }
        }
    }

    .landing-btn-1 {
        @include primaryButton();
        background: white;
        margin: 10px;
        background: $secondary;
        color: $appWhite;
    }
    .landing-btn-2{
        @include primaryButton();
        border: 1px solid $primary;
        margin: 10px;
        background: none;
        color: $primary;
        width: auto;


    }
    .to-top{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        bottom: 0;
        right: 20px;
        height: 35px;
        width: 87px;
        background: $primary;

        .arrow-up {
            width: 0; 
            height: 0; 
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            
            border-bottom: 12px solid $secondary;
            margin-left: 5px

            
        }
    }

    
  }


}
