@import '../../config/colors.scss';
@import '../../config/mixins.scss';

.BookAddress {
    text-align: left;

    

    .page-header{
        width: 85%;
        margin: auto;
        padding-top: 80px;
        
        h1{
            font-size: 42px;
        }
        p {
            padding-bottom: 20px;
        }
    }

    .form-header {
        h2 {
            font-size: 25px;
            padding-top: 20px;
        }

        .default-message {
            padding: 15px 0;
        }

        .rejection-message {
            color: $danger;
        }
    }

    .page-body{
        padding: 0 20px 50px 20px;

        .img-container {
            height: 330px;
            max-width: 327px;
            margin: auto;
            background: $primary;
        }
    }
}