

.Confirmation {
    text-align: left;


    .page-header{
        width: 85%;
        margin: auto;
        padding-top: 80px;
        height: 80vh;
        
        h1{
            font-size: 42px;
        }

        header{
            font-size: 26px;
        }

        p {
            padding-bottom: 20px;
        }
    }
}