

.Confirmation {
    text-align: left;


    .page-header{
        max-width: 600px;
        width: 85%;
        margin: auto;
        padding-top: 80px;
        min-height: calc(100vh - 250px);

        
        h1{
            font-size: 42px;
        }

        header{
            font-size: 26px;
        }

        p {
            padding-bottom: 20px;
        }
    }
}