@import '../../config/mixins.scss';
@import '../../config/colors.scss';
@import '../../config/fonts.scss';
@import '../../config/breakpoints.scss';

.CornerLogo{
    display: none;
    position: absolute;
    top: 40px;
    left: 60px;

    img {
        width: 125px;
    }

    @media only screen and (min-width: $desktop-sm){
        display: block;
    }

}