@import '../../config/mixins.scss';
@import '../../config/colors.scss';
@import '../../config/fonts.scss';
@import '../../config/breakpoints.scss';

.CornerLogo{
    position: absolute;
    top: 40px;
    left: 60px;

    img {
        width: 125px;
    }
}