// $colors: (
//     primary: #C4C4C4,
//     secondary: #E5E5E5,
// )

$appWhite: #FCFCFC; // background and font
$appBlack: #000812; // font
$primary: #3e5764; //accent blue
$secondary: #EB6E1f; //accent orange
$light: #E7e7e7; //accent grey
$danger: #D80000; //red