@import '../../config/mixins.scss';
@import '../../config/colors.scss';
@import '../../config/fonts.scss';
@import '../../config/breakpoints.scss';

.LeftDrawer {
    .hamburger{
        display: block;



        @media only screen and (min-width: $desktop-sm){
            display: none;
        }
    }

    .custom-slide{
        background: green;

        a {
            &:hover {
                color: green;
            }
        }
    }


}