@import '../../config/mixins.scss';
@import '../../config/colors.scss';
@import '../../config/fonts.scss';
@import '../../config/breakpoints.scss';

.TopBar{
    width: 100%;

    ul {
        display: none;


        @media only screen and (min-width: $desktop-lg){
            display: flex;
            background: rgb(252, 252, 252);
            width: 100%;
            justify-content: center;
            align-items: center;
            

        }

        li {
            padding: 10px 20px;
        }

        a{
            color: $appBlack;
        }
    }

}